<h1>About Us</h1>

<p>Due to the alarming rate of increase in cyber attacks wold wide, it is now more importatnt than ever to protect yourself agains the major threats. It is our mission to help you increase your security.
</p>


<p>Atlantic Cyber Defenses was founded in Febuary 2016 with a team of two security researchers and office in Cape Town's CBD. We are currently hiring researchers and interested in hearing from you. Simply contact us via <%= mail_to "info@atlanticcyberdefenses.com" %></p>
