<% @title="Home - Atlantic Cyber Defenses"%>
<% @description=""%>

<h1>Welcome to Atlantic Cyber Defenses</h1>
<p>We are a Cape Town based cyber security company specializing in the detection of web site vulnerabilities such a cross site scipting and SQL injection. In addition we also consult clients on how to conduct secure communication using cryptography or steganography. Atlantic Cyber Defenses is dedicated to protecting its clients from hackers, spammers, eavesdopres and any other type of adversary.</p>
