<% @title="Services - Atlantic Cyber Defenses"%>
<% @description=""%>

<h1>Services</h1>
<h2>Website vulnerabilities</h2>
<h3>Cross Site Scripting</h3>
Cross site scripting is a technique that allows an attacker to redirect users from your page to someone else's, modify content on your page, or even steal your users private information. The attack is achieved by injecting Javascript code into a victims database (persistent xss) or posting modified versions of your web address via email or social media (reflective xss).
<h3>SQL injection</h3>


<h2>Secure Communication</h2>
<h3>Cryptograpy</h3>
<h3>Steganograpy</h3>
